{% extends "chefApp/index.html" %}

{% block title %}WebPrint -- File List{% endblock %}

{% block navbar %}
<li><a href="{% url 'index'%}">Printers</a></li>
<li class="active"><a href="{% url 'fileList'%}">Files</a></li>
<li><a href="{% url 'upload' %}">Upload</a></li>
{% endblock %}

{% block content %}

{% if file_list %}
<h1>File List</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Status</th>
      <th>File Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
    
    {% for f in file_list %}
    <tr>
      <td><a href="{{ f.cadfile.url }}">{{ f.name }}</a></td>
      <td><pre>{{ f.status_msg }}</pre></td>
      <td>{{ f.file_size }}</td>
      <td><a href="/print/printFile/{{ f.id }}/">PRINT</a></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

{% else %}
<h2>No files</h2>
{% endif %}



{% endblock %}
