{% extends "chefApp/index.html" %}

{% block title %}WebPrint -- Printer Details{% endblock %}

{% block navbar %}
<li><a href="{% url 'index'%}">Printers</a></li>
<li><a href="{% url 'fileList'%}">Files</a></li>
<li><a href="{% url 'upload' %}">Upload</a></li>
{% endblock %}

{% block content %}

<h1>{{ printer.name }}</h1>

<p class="lead">Current state: {{printer.state}}</p>
<p class="lead">Percent Complete: {{printer.percent_complete}}%</p>

{% if extruders %}
<h2> Extruders </h2>
<ul>
  {% for e in extruders %}
  <li>{{e.name}} using {{e.material.name}}</li>
  {% endfor %}
</ul>
{% endif %}
	


{% endblock %}













